<div class="bg-color p-5">
  <form [formGroup]="investorForm" (submit)="create(); focus.focus();">
    <div class="row h-100 justify-content-center">
      <div class="col-auto">
        <input type="text" class="form-control-lg border-0 br-input" placeholder="First name" formControlName="firstName"
          [class.is-invalid]="!!investorForm.get('firstName').errors?.required &&
          (investorForm.get('firstName').dirty || investorForm.get('firstName').touched)" #focus>
        <div class="invalid-feedback d-block" *ngIf="!!investorForm.get('firstName').errors?.required &&
           (investorForm.get('firstName').dirty || investorForm.get('firstName').touched)">
          First name is required
        </div>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control-lg border-0 br-input" placeholder="Last name" formControlName="lastName"
          [class.is-invalid]="!!investorForm.get('lastName').errors?.required &&
          (investorForm.get('lastName').dirty || investorForm.get('lastName').touched)">
        <div class="invalid-feedback d-block" *ngIf="!!investorForm.get('lastName').errors?.required &&
         (investorForm.get('lastName').dirty || investorForm.get('lastName').touched)">
          Last name is required
        </div>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control-lg border-0 br-input" placeholder="Participation" formControlName="participation"
          [class.is-invalid]="!!investorForm.get('participation').errors?.required &&
        (investorForm.get('participation').dirty || investorForm.get('participation').touched)">
        <div class="invalid-feedback d-block" *ngIf="!!investorForm.get('participation').errors?.required &&
       (investorForm.get('participation').dirty || investorForm.get('participation').touched)">
          Participation is required
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn bg-color btn-primary btn-lg border-white b-submit px-5" [disabled]="investorForm.invalid"><strong>SEND</strong></button>
      </div>
    </div>
  </form>
</div>
<div class="text-center m-3" *ngIf="investors.length">
  <h1>DATA</h1>
  <span>lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
  <div class="row mt-5">
    <div class="col-md-6 px-5">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Participation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let investor of investors; let idx = index;">
            <th scope="row">{{idx + 1}}</th>
            <td>{{investor.firstName}}</td>
            <td>{{investor.lastName}}</td>
            <td>{{investor.participation | percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <ngx-charts-pie-chart [results]="data" [legend]="true" [legendTitle]="'Investidores'" [view]="[800, 300]" [doughnut]="true">
          <ng-template #tooltipTemplate let-model="model">
            <h5>{{ model.name }}</h5>
            <span>{{model.value | percent}}</span>
          </ng-template>
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
